/* 
*
*
Title: LESS FILE FOR CONVOY WIDGET
Author: AV
Date: 08/11/2015
*
*
*/
/* Variables - typically read in from master file */
/* Fonts */
h2 {
  color: #87d4c3;
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
.centered {
  text-align: center;
}
/* Links */
a {
  color: #99dbcc;
}
/* Icon */
.img-icon {
  opacity: .5;
}
/* Widget */
body {
  background-color: #d2efe8;
  color: #737373;
}
.row {
  padding-bottom: 30px;
}
.widget {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 500px;
  min-width: 300px;
  border-radius: 15px;
  margin: 15px;
  border: solid 2px white;
}
.border-below {
  border-bottom: solid #d2efe8 2px;
}
.pad-below {
  padding-bottom: 15px;
}
.table > tbody > tr {
  border-top: solid #d2efe8 2px;
  cursor: pointer;
  vertical-align: middle;
}
.table > tbody > tr > td {
  vertical-align: middle;
  padding: 4px;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #d2efe8;
}
/* Media Queries */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
    padding: 8px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .table > tbody > tr > td {
    padding: 8px;
  }
}
